* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;

}

body::-webkit-scrollbar {
    display: none;
}

:root {
    /* ?Tipos de Letras */
    --font-icon: 1.5rem;

    /* ?Colores */
    --color-1: #000033;
    --color-2: #003ea8;
    --color-3: #0A2342;
    --color-4: #2459bb;
    --color-5: #4682b4;
    --color-6: #09247b;
    --color-7: #191970;
    --color-8: #0f3d3e;
    --color-9: #000080;

    --background-1: #70d3dc;
    --background-2: #AEC9E4;
    --background-3: #F8f8f8;
    --background-4: #7ebaec;
    --background-5: #b0e0e6;
    --background-6: #a2ded0;
    --background-7: #b2d8d8;
    --background-8: #c1e1c1;
    --background-9: #9de5e4;
    --background-10: #87ceeb;
}

.dark {
    /* ?Colores */
    --background-1: #000033;
    --background-2: #003ea8;
    --background-3: #0A2342;
    --background-4: #2459bb;
    --background-5: #4682b4;
    --background-6: #09247b;
    --background-7: #191970;
    --background-8: #0f3d3e;
    --background-9: #000080;

    --color-1: #70d3dc;
    --color-2: #AEC9E4;
    --color-3: #F8f8f8;
    --color-4: #7ebaec;
    --color-5: #b0e0e6;
    --color-6: #a2ded0;
    --color-7: #b2d8d8;
    --color-8: #c1e1c1;
    --color-9: #9de5e4;
    --color-10: #87ceeb;


}